{% extends "base.html" %} {% block title %}{{ section.title }} | {{ config.title }}{% endblock title
%} {% block content %}
<div class="post-detail">
  <header class="post-header list-page-header">
    <h1 class="post-title list-page-title">Archive</h1>
  </header>

  <div class="archive-list">
    {% set section = get_section(path="posts/_index.md") %} {% for year, posts in section.pages |
    sort(attribute="date") | reverse | group_by(attribute="year") %}
    <div class="archive-year">
      <h2 class="archive-year-title">{{ year }}</h2>
      <ul class="archive-items">
        {% for post in posts %}
        <li class="archive-item hover-scale">
          <time datetime="{{ post.date }}" class="archive-date">{{ post.date | date(format="%d-%b") }}</time>
          <a href="{{ post.permalink }}" class="archive-link">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
